{% extends 'staff/repository_layout.html' %}
{% load static %}
{% load model_tags %}
{% load social_share %}
{% block styles %}
<style>
	.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
</style>
{% endblock %}
{% block content %}

<div class="row">
    

	<div class="panel">
		
	<!--<iframe id="iframe_pdf" src="http://view.officeapps.live.com/op/view.aspx?src=https://resourcecenter.konza.go.ke/{{ document.reference_material_download.url }}" 
      style="width:1000px; height:1000px;"  ></iframe> -->

		<div class="container">
			<iframe class="responsive-iframe" id="responsive-iframe" src="https://docs.google.com/gview?url=https://resourcecenter.konza.go.ke/{{ document.reference_material_download.url }}&embedded=true" 
      style="width:100%; height:100%;"  scrolling=no frameborder="0"></iframe>

		
		</div>

		
	</div>
    <div class="panel">
        <h2>Title: <strong>{{ document.name_of_document }}</strong></h2>
        <p class="text-info">Description: {{ document.repository.description | safe }}</p>
        <p>Privacy:[ {{ document.repository.access_level }} ]</p>
        <a class="btn-sm btn-primary" href="{{ document.reference_material_download.url }}" download><i class="fa fa-download"></i> Download</a>

        <div class="btn-group dropup">
			<a  class="mb-xs mt-xs mr-xs btn btn-default dropdown-toggle" data-toggle="dropdown">Share <span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li>{% send_email  'document shared from resource center'  'Check this out.' request.build_absolute_uri email btn %}</li>

				{% if document.repository.access_level == 'Public' %}
					<li>{% post_to_facebook request.build_absolute_uri facebook share %}</li>
					<li>{% post_to_twitter "{{request.user}} shared {{ document.name_of_document }}. Check it out!"  request.build_absolute_uri  "Twitter" %}</li>
					<li>{% post_to_linkedin request.build_absolute_uri btn %}</li>
					<li class="divider"></li>
					<li>{% post_to_telegram  document.name_of_document  request.build_absolute_uri Telegram  btn %}</li>
					<li>{% post_to_whatsapp request.build_absolute_uri Whatsapp btn %}</li>
				{% endif %}
			</ul>
		</div>


		
                <!-- Mark as finished -->
                <div class="btn">
                    
                <form id="mark_finish_form">{% csrf_token %}
                    <div class="text-center">
                        <input type="hidden" name="document_id" id="module_id" value="{{document.id}}" />
                    <button type="submit" id="mark_btn" class="btn btn-primary">
						{% check_document_bookmark request document as mark %}
						{% if mark == False %}
						Bookmark
						{% else %}
						Bookmarked
						{% endif %}
                        <i class="fa fa-check ml-2" aria-hidden="true"></i>
                    </button>
                    </div>
                </form>
                        <!--form submit ajax-->
	            <script type="text/javascript">
		            $('#mark_finish_form').on('submit', function (e) {
			            e.preventDefault();//prevents from reloading
			            $.ajax({
				            type: 'POST',
				            url: '/repository/bookmark/post/document/',
				            data: {
					            module_id: $('#module_id').val(),
					            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
				            },
				            success: function (data) {
								//$('button').html(data);
								$('#mark_btn').html(data).css("background-color", "#008234");
				            }
			            });
		            });
	            </script>
                    <!--./ for msubmit ajax-->
                </div>
                <!-- /.Mark as finished -->
        
        
    </div>
</div>

<div class="row">
	<div class="panel">
		<!-- get related documents -->
	</div>
</div>
{% endblock %}