{% extends 'staff/repository_layout.html' %}
{% load static %}
{% load model_tags %}
{% load social_share %}
{% block content %}

<div class="row">
    <div class="thumb-preview">
		<a class="thumb-image" href="{{ image.image.url }}">
			<img src="{{ image.image.url }}" class="img-responsive" alt="Image">
		</a>
	</div>

    <div class="panel">
        <h2 class="text-primary">Title:<strong>{{ image.name_of_image }}</strong></h2>
        <p>Description: {{ image.repository.description | safe }}</p>
		<p>[ {{ image.repository.access_level }} ]</p>

        <a class="btn-sm btn-primary" href="{{ image.image.url }}" download><i class="fa fa-download"></i> Download</a>

        <div class="btn-group dropup">
			<button type="button" class="mb-xs mt-xs mr-xs btn btn-default dropdown-toggle" data-toggle="dropdown">Share <span class="caret"></span></button>
			<ul class="dropdown-menu" role="menu">
				<li>{% send_email  'Image shared from Konza Resource Center'  'Check this out.' request.build_absolute_uri email btn %}</li>
				{% if image.repository.access_level == 'Public' %}
				<li>{% post_to_facebook request.build_absolute_uri facebook share %}</li>
				<li>{% post_to_twitter "{{request.user}} shared {{ image.name_of_image }}. Check it out!" request.build_absolute_uri "Twitter" %}</li>
				<li>{% post_to_linkedin image.image.url btn %}</li>
				<li class="divider"></li>
				<li>{% post_to_telegram  image.name_of_image  request.build_absolute_uri Telegram  btn %}</li>
				<li>{% post_to_whatsapp request.build_absolute_uri Whatsapp btn %}</li>
				{% endif %}
			</ul>
		</div>


		 <!-- Mark as finished -->
                <div class="btn">
                    
                <form id="mark_finish_form">{% csrf_token %}
                    <div class="text-center">
                        <input type="hidden" name="image_id" id="module_id" value="{{image.id}}" />
                    {% check_image_bookmark request image as mark %}
					<button type="submit" id="mark_btn" class="btn btn-primary">
						
						{% if mark == False %}
						Bookmark
						{% else %}
						Bookmarked
						{% endif %}
                        <i class="fa fa-check ml-2" aria-hidden="true"></i>
                    </button>
                    </div>
                </form>
                        <!--form submit ajax-->
	            <script type="text/javascript">
		            $('#mark_finish_form').on('submit', function (e) {
			            e.preventDefault();//prevents from reloading
			            $.ajax({
				            type: 'POST',
				            url: '/repository/bookmark/post/image/',
				            data: {
					            module_id: $('#module_id').val(),
					            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
				            },
				            success: function (data) {
								//$('button').html(data);
								$('#mark_btn').html(data).css("background-color", "#008234");
				            }
			            });
		            });
	            </script>
                    <!--./ for msubmit ajax-->
                </div>
                <!-- /.Mark as finished -->


    </div>
</div>
{% endblock %}