{% extends 'staff/repository_layout.html' %}
{% load static %}
{% load social_share %}
{% block content %}

<div class="row">
    <div class="thumb-preview">
		<a class="thumb-image" href="{{ image.image.url }}">
			<img src="{{ image.image.url }}" class="img-responsive" alt="Image">
		</a>
	</div>

    <div class="panel">
        <h2 class="text-primary">{{ image.name_of_image }}</h2>
        <p>{{ image.repository.description | safe }}</p>
		<p>[ {{ image.repository.access_level }} ]</p>

        <a class="btn-sm btn-primary" href="{{ image.image.url }}" download><i class="fa fa-download"></i> Download</a>

        <div class="btn-group dropup">
			<button type="button" class="mb-xs mt-xs mr-xs btn btn-default dropdown-toggle" data-toggle="dropdown">Share <span class="caret"></span></button>
			<ul class="dropdown-menu" role="menu">
				<li>{% send_email  'Image shared from resource center'  'Check this out.' image.image.url email btn %}</li>
				<li>{% post_to_facebook image.image.url facebook share %}</li>
				<li>{% post_to_twitter "{{request.user}} shared {{ image.name_of_image }}. Check it out!" image.image.url "Peleka Twitter" %}</li>
				<li>{% post_to_linkedin image.image.url btn %}</li>
				<li class="divider"></li>
				<li>{% post_to_telegram  image.name_of_image  image.image.url Telegram  btn %}</li>
				<li>{% post_to_whatsapp image.image.url Whatsapp btn %}</li>
			</ul>
		</div>
    </div>
</div>
{% endblock %}